<div class="my-grid">
  <div class="external-filter">
    <label>
      <input type="radio" name="filter1" id="rows-510" (click)="externalFilterChanged('rows-510')" [checked]="filter === 'rows-510'"/>
      Rows starting from 5 or 10
    </label>
    <label>
      <input type="radio" name="filter2" id="all" (change)="externalFilterChanged('all')"  [checked]="filter === 'all'"/>
      All
    </label>
  </div>
  <ag-grid-angular style="width: 100%; height: 600px;" class="ag-theme-alpine" [rowData]="rowData" #agGrid
    [isExternalFilterPresent]="isExternalFilterPresent" [doesExternalFilterPass]="doesExternalFilterPass"
    [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" (gridReady)="onGridReady($event)"
    [frameworkComponents]="frameworkComponents">
  </ag-grid-angular>
</div>